# Python
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

# Environment
.env
.venv
venv
env

# Conda
*.conda
environment.yml

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Project specific
*.log
*.csv
app/unittest