GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_AUTH_URI=""
GOOGLE_TOKEN_URI=""
GOOGLE_REDIRECT_URI=""
FRONTEND_URL=""
SUPABASE_URL=""
SUPABASE_KEY=""
DIFY_URL=""
DIFY_SUMMARY=""
DIFY_WRITER=""
DIFY_OVERVIEW=""
SECRET_KEY=""
ALGORITHM=""
PASS=""